pipeline/SQLSequences.json
{
    "name": "SQLSequences",
    "properties": {
        "activities": [
            {
                "name": "WebCallSequence",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://',pipeline().parameters.StorageName,'.blob.core.windows.net/',pipeline().parameters.Container,'/',pipeline().parameters.Environment,'/',pipeline().parameters.SQLFolder,'/sys.sequences.txt')",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "headers": {
                        "x-ms-version": "2017-11-09",
                        "x-ms-blob-type": "BlockBlob"
                    },
                    "disableCertValidation": false,
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://storage.azure.com"
                    }
                }
            },
            {
                "name": "SequenceScript",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "WebCallSequence",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "VM05SQLLinkedService",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "NonQuery",
                            "text": {
                                "value": "@activity('WebCallSequence').output.Response",
                                "type": "Expression"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "Container": {
                "type": "string"
            },
            "SQLFolder": {
                "type": "string"
            },
            "Environment": {
                "type": "string"
            },
            "StorageName": {
                "type": "string"
            }
        },
        "annotations": []
    }
}